.content {
  min-height: 80vh;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--sixth-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 8px;
}

.row p {
  margin-right: 50px;
}
.amount-input {
  width: 70px;
  border-radius: 4px;
  padding-left: 5px;
}

input::placeholder {
  margin-left: 3px;
}

.select-currency {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid black;
}

.convert-button {
  height: 35px;
  width: 70px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.convert-container {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  margin-top: 20px;
}

.error-message {
  display: flex;
  padding: 8px;
  color: red;
}

.convert {
  border: 2px solid black;
  transition: 0.2s ease-in;
}

.convert:hover {
  background-color: var(--third-color);
  color: white;
}
