header {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--fifth-color);
  border-bottom: 3px solid var(--primary-color);
}
